rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Match any document in the 'history' collection
    match /history/{docId} {
      // Allow read, write, and delete only if the document's userId
      // matches the requesting user's ID.
      allow read, write, delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }
    // Allow create only if the new document's userId matches the user's ID
    match /history/{docId} {
        allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }
  }
}
